@import url("../css/fuenteslocales.css");
footer {
  color: #000000;
  background-color: rgba(68, 136, 189, 0.548);
  position: relative;
  overflow: hidden;
  width: 41.3em;
  height: 3em;
  border-color: rgba(61, 134, 245, 0.733);
  border-style: solid;
  border-width: .090625em;
  border-radius: .35em;
  font-family: 'Archivo Black', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: .5em;
  letter-spacing: normal;
  margin: 0em 0em .5em 0em;
  padding: 0em .5em 0em .5em;
  transition-property: background-color, border-color, height, color, letter-spacing, padding;
  transition-duration: 2s, 1s, 2s, 1s, 1s, 2s;
}
footer:hover {
  background-color: #2787f5;
  border-color: #2acf14;
  height: 100%;
  color: rgb(169, 194, 231);
  letter-spacing: .15em;
  padding: 1em;
}
#flex-padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
