@import url("../css/fuenteslocales.css");
button, a.fuente1 {
  font-family: 'Amarante', cursive;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a7dd12ad;
  /*background-color: #f9f9f9;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.areadeaviso {
  font-family: "Lobster", cursive;
  color: rgba(20, 19, 19, 0.692);
  position: absolute;
  width: 42em;
  height: 1.33em;
  background-color: rgba(222, 184, 135, 0.603);
  left: 20em;
  top: .91em;
  padding: .7em;
  transition: all 2s;
}
.areadeaviso:hover {
  color: rgb(12, 12, 12);
}
